@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background: linear-gradient(to right,#000066 0%, #0066ff 100%)">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4"style="background: linear-gradient(to bottom,#000099 0%, #33ccff 100%)">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
